.select {
    font-size: 25px;
    padding: 5px;
    border:1px solid;
    color: #686868;
    min-width: 220px;
}
.mainContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.filterContainer{
    display: flex;
    flex-direction: row;
    gap: 60px;

}
.contentContainer{
    display: flex;
    flex-direction: column;
    min-width: 600px;
    width: 100%;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    flex:1;
}
.mainContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.filterContainer{
    display: flex;
    flex-direction: row;
    gap: 60px;

}
.contentContainer{
    display: flex;
    flex-direction: column;
    min-width: 600px;
    width: 100%;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    flex:1;
}
.textbox{
    height: 30px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.inputContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.textArea{
    font-size: 22px;
    width: 100%;
    padding: 5px;
}

.numberArea{
    font-size: 25px;
    width: 150px;
    height: 40px;
    gap:5px;
    padding: 5px;
}

.descriptionContainer{
    display: flex;
    flex-direction: column;
    gap:5px;
    width: 42%;
    min-width: 700px;
}

.numberArea{
    display: flex;

}

.label{
    font-weight: bold;
    font-size: 15px;
}

.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
}
.title{
    flex: 1;
}
.backButtonContainer{
    position: absolute;
}