.mainContainer{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
}

.button{
    width: 40%;
    height: 28%;
    border: none;
    background-color: black;
    color: white;
    margin: 20px;
    font-size: 2.2em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.buttonIcon{
    display: block;
    
}

.logout:active{
    opacity: 0.5;
}
#header{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
}

#header div{
    justify-content: center;
    align-items:center;
    display: flex;
    flex:1;
}

.contentContainer{
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
    height: 90vh;
    min-width: 300px;
    
}

.select{
    font-size: 25px;
    padding: 10px;
    border: none;
    color: #686868;
    border:2px solid;
    border-radius: 5px;
    background-color: black;
    color: white;
    max-width: 300px;
}

.select *{
    color: white;
}

@media only screen and (max-width:1000px){
    .button{
        font-size: 1em;
        width: 75%;
        min-height: 150px;
        height: 20%;
    }

    .contentContainer{
        margin-bottom: 20px;
        height: auto;
    }
    .mainContainer{
        height: auto;
    }
}

