.mainContainer {
    display: flex;
    flex-direction: row;
}

.input {
    padding: 5px;
    font-size: 30px;
}

.select {
    padding: 5.6px;
    font-size: 30px;
}

.suggestions {
    border: 1px solid lightgrey;
    background-color: white;
    position: absolute;
    width: 100%;
    font-size: 26px;
    
}

.suggestions div {
   width: 100%;
   display: flex;
}

.suggestions div>div{
    overflow: hidden;
    width: 96%;
    padding-left: 5px;
    height: 50px;
    display: flex;
    align-items: center;
}

.suggestions div:hover{
    background-color: lightgray;
    cursor: pointer;
}

.suggestions div:focus{
    background-color: lightgray;
    cursor: pointer;
}

