.mainContainer{
    width: 40vw;
    height: 50vh;
    min-width: 300px;
    min-height: 350px;
    background-color: white;
    border-radius: 10px;
    box-shadow:  0 4px 6px 0px rgb(0 0 0 / 0.1);
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formContainer{
    width: 100%;
    height: 90%;
}

.contentContainer{
    height: 42%;
    width: 100%;
    
}
.textbox{
    border: none;
    width: 95%;
    height: 100%;
    outline: none;
    font-size: 18px;
}

.label{
    float: left;
}


.textboxContainer{
    border-color: grey;
    border-radius: 7px;
    border: 0.5px solid ;
    width: 100%;
    height: 60px;
    overflow: hidden;
    margin-top: 60px;
}

.focused{
    border-color: rgb(50, 96, 168);;
    box-shadow: 0 0px 2px 3px rgb(0 60 255 / 10%);
}

.error{
    border-color: red;
    box-shadow: 0 0 2px 3px #ffd9d9;
}

.label{
    float: left;
    margin: 30px 0 5px 0;
    font-size: 22px;
    font-weight: bold;
}

.button{
    padding: 13px 35px 13px 35px;
    border: none;
    box-shadow:  0 4px 2px -1px rgba(0, 0, 0, 0.1);
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 17px
}

button:active{
    opacity: 0.7;
}

.background {
    background-color: rgb(243, 244, 246);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*font-size: calc(10px + 2vmin);*/
  }
