.content{
    width: 100%;
    text-align:center;
}

.select{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}


.addGroup{
    background-color: rgb(227, 226, 226);
    margin-bottom: 40px;
    text-align: center;
    height: 40px;
    align-items: center;
    display: flex;
    border: 1px solid lightgrey;
    justify-content: center;
    gap: 20px;
    font-size: 20;
}

.addGroup:active{
    background-color: rgb(203, 202, 202);;
}