.modalUi{
    display: flex;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 50vw;
    max-height: 90vh;
    flex-direction: column;
    padding: 20px;
    overflow: scroll;
}

.modalUi >span{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}