.headerOption{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.button{
    border: none;
    box-shadow: 0 4px 2px -1px rgba(0, 0, 0, 0.1);
    background-color: black;
    color: white;
    font-size: 20px;
    margin: 20px;
}



.mainContainer{
    display: flex;
    flex-direction: column;
}
.filtersContainer {
    flex: 1;
    height: 45%;
    justify-content: center;
    display: flex;

}
.filterInput {
    width: 250px;
    font-size: 25px;
    margin-left: 120px;
}
.select {
    font-size: 25px;
    padding: 5px;
    border:none;
    color: #686868;
}
.select:focus{
    border: 1px solid;
}

option{
    color: black;
}
/* width */
::-webkit-scrollbar {
    width: 0px;
}

.modalUI{
    display: flex;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 50vw;
    flex-direction: column;
    padding: 20px;
}