.modal{
  position: absolute;
  width: 350px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: white;
  white-space: wrap;
  font-size: 20px;
  padding: 10px;
}

.IncreaseElementsButton:active{
  opacity: 0.7;
  background-color: rgb(218, 218, 218);
}



