.mainContainer{
    width: 47%;
    height: 250px;
    border: 1px solid lightgray;
    padding: 5px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    overflow-y: hidden;
}

.content{
    flex:0.9;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: pointer;
}
.footer{
    flex:0.1
}

.content div{
    height: 25%;
    display: flex;
    flex-direction: row;
}

.expand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expand:active{
    background-color: rgb(242, 242, 242);
    opacity: 0.5;
}
.contentSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modalContainer{
    width: 90%;
    height: 100%;
    padding: 5px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
}
.modalUi{
    display: flex;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 50vw;
    padding: 10px;
}
.title{
    font-size: 30px;
    font-weight: bold;
}
.modalContent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    
}
